# Configuración de Base de Datos
DB_USER=facturacion_user
DB_PASSWORD=change_this_in_prod
DB_NAME=facturacion_db
DB_PORT=5432

# Redis
# Se usa para throttling e invalidación de caché reactiva
REDIS_PASSWORD=change_this_in_prod

# Grafana
# Contraseña inicial para el usuario admin
GRAFANA_ADMIN_PASSWORD=admin_password_strong

# NODE_ENV para el contenedor backend
# production | development
NODE_ENV=production

# Estrategia de Migraciones
# true: ejecuta migraciones al arrancar el contenedor
RUN_MIGRATIONS=true